@page
@model RazorPagesPayment.Pages_Payment.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pagina de la pregunta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Pago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Pago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Genre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Payment.ID">Editar</a> |
    <a asp-page="./Index">Devuelta a la Lista</a>
</div>
