@page
@model RazorPagesPayment.Pages_Payment.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Preguntas</h1>

<p>
    <a asp-page="Create">Añadir Pregunta</a>
</p>

<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Pago)
            </th>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Payment[0].ReleaseDate)
            </th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Contestar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Ver Respuestas</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
